/* You can add global styles to this file, and also import other style files */
.sakli {
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
